body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(32, 34, 37);
  color: whitesmoke;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body {
  display: flex;
  justify-content: center;
}
#root {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 0 3rem 3rem 3rem;
}
/*the textarea wrapper*/
#root > * {
  width: 100%;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
  background-color: ;
}
.post-button {
  align-self: flex-end;
  justify-self: flex-end;
  width: 10%;
  z-index: 100;
  margin-top: -4.3rem;
  margin-right: 0.8rem;
}

.post-item {
  margin-top: 1rem;
  padding: 1rem;
  text-transform: none;
  background-color: rgb(53, 56, 59);
  color: whitesmoke;
}
.post-author {
  align-self: flex-start;
}
.post-date {
  font-size: 0.8rem;
  align-self: flex-end;
}
.post-text {
  font-size: 1.2rem;
  margin-left: 1rem;
  display: inline;
}
.spinner-border {
  display: block;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
}
.post-input {
  background-color: rgb(53, 56, 59);
}
.header {
  position: fixed;
  width: 70%;
  background-color: rgb(32, 34, 37);
  z-index: 100;
  height: 3rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  color: rgb(53, 46, 46);
}

.link {
  text-transform: uppercase;
  font-weight: 500;
  color: whitesmoke;
}
.link:hover {
  color: whitesmoke;
}
.user-form {
  margin: 3rem;
  padding: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(53, 56, 59);
}
.user-profile {
  margin: 5rem;
  padding: 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(53, 56, 59);
}
.user-name {
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  margin-bottom: 2rem;
}
.user-avatar {
  justify-self: center;
  align-self: center;
  width: 150px;
  border-radius: 50%;
}
.user-button {
  font-size: 0.8rem;
}
.buttons-row {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.username-input {
  background-color: rgb(53, 56, 59);

}
.name-change-confirmation {
  margin: 3rem 3rem 0 3rem;
  color: whitesmoke;
  background-color: rgb(53, 56, 59);
}

.loader-message {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 100;
  top: 42%;
  left: 40%;
  color: rgb(0, 132, 255);
}
.logout-button {
  width: 20%;
  align-self: center;
  margin: 2rem;
  display: flex;
  justify-content: center;
}
.input-error-message {
  color: red;
}