body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(170, 165, 165);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  display: flex;
  justify-content: center;
}
#root {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 0 3rem 3rem 3rem;
}
/*the textarea wrapper*/
#root>* {
  width: 100%;
}
/*the textarea itself*/
.MuiButton-label>* {
  width: 100%;
}
.MuiFormHelperText-root {
  text-transform: lowercase;
}
.form-wrapper {
  display: flex;
  flex-direction: column;
}
.post-button {
  align-self: flex-end;
  justify-self: flex-end;
  width: 10%;
}

.post-item {
  margin-top: 1rem;
  padding: 1rem;
  text-transform: none;
  background-color: rgb(107, 107, 141);
  color: rgb(31, 29, 29);
}
.post-author {
  align-self: flex-start;
}
.post-date {
  font-size: 0.8rem;
  align-self: flex-end;
}
.post-text {
  font-size: 1.2rem;
  margin-left: 1rem;
  display: inline;
}
.spinner-border {
  display: block;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
}

.header {
  height: 3rem;
  border-bottom: 1px solid rgb(110, 107, 107);
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;


}
.link {
  color: rgb(53, 46, 46);
}
.link:hover {
  color: rgb(53, 46, 46);
}
.user-form {
  margin: 3rem;
  padding: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(122, 122, 134);
}
.user-button {
  height: 2rem;
  align-self: flex-end;
}
